// Common
.cocs-hidden {
    display: none;
}

// Banner
#cocs-banner {
    background-color: #f8f8f8;
}

#cocs-banner-confirm p,
#cocs-banner-confirm button {
    display: inline-block;
    vertical-align: middle;
}

// Policy
.cocs-policy-expires-column-width {
    width: 12.5% !important;
}

// Preference
#cocs-preference-saved {
    padding: 15px;
    margin-bottom: 30px;
    clear: both;
    border: 2px solid #06544A;
}